@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: #505962;
}

.loginBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    height: 700px;
    width: 50%;
    text-align: center;
}

.loginBox h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    padding-top: 3rem;
    font-size: 3rem;
}

.loginBox form {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.loginPrompt {
    font-size: 1.5rem !important;
}

.input {
    width: 60% !important;
}

.field {
    padding-top: 5rem;
}

.btn-lg {
    font-size:18px;
    font-family: 'Poppins', sans-serif;
    color:black;
    background:#fff;
    border:3px solid black;
    padding:8px 40px;
    width:30%;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 0px;
    transition:0.4s ease-in-out;
  }

  .btn-lg:hover {
    cursor: pointer;
    background: black;
    color: white;
  }